/* Fundo da barra lateral em preto */
.wy-nav-side {
    background: #ffffff !important;
}

/* Cor do texto do menu para branco */
.wy-menu-vertical a {
    color: #ffffff !important;
}

/* Cor ao passar o mouse (hover) para não sumir no preto */
.wy-menu-vertical a:hover {
    background-color: #333333 !important;
}

/* Topo da barra lateral (onde fica a busca) */
.wy-side-nav-search {
    background-color: #000000 !important;
}

/* Ajuste da cor do input de busca */
.wy-side-nav-search input[type=text] {
    border-color: #444444;
}
